@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('../src/assets/clash-display/clash-display.css');

/* font-family: ClashDisplay-Extralight;
font-family: ClashDisplay-Light;
font-family: ClashDisplay-Regular;
font-family: ClashDisplay-Medium;
font-family: ClashDisplay-Semibold;
font-family: ClashDisplay-Bold;
font-family: ClashDisplay-Variable; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans text-neutral-600;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-neutral-700;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-clashVariable;
  }

  h6 {
    @apply text-lg font-semibold;
  }

  input[type='text'] {
    @apply block w-full px-4 py-3 text-base leading-6 text-gray-400 bg-white border border-solid border-zinc-200 focus:ring-primary focus:border-primary;
  }
}

.icon {
  color: #4640DE;
}

.group:hover .icon {
  color: white;
}

.group:focus .icon {
  color: white;
}

.arrow {
  color: #25324B;
}

.group:hover .arrow {
  color: white;
}

.group:focus .arrow {
  color: white;
}


.custom-div {
  position: relative;
  width: auto;
  height: 640px; 
  background: linear-gradient(135deg, transparent 60px, #4640DE 0) top left,
              linear-gradient(330deg, transparent 60px, #4640DE 0) bottom right;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

.hero {
  position: relative; 
  background: linear-gradient(135deg, transparent 0px, #F8F8FD 0) top left,
              linear-gradient(330deg, transparent 80px, #F8F8FD 0) bottom right;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

.lastsection {
  position: relative;
  background: linear-gradient(135deg, transparent 70px, #F8F8FD 0) top left,
              linear-gradient(330deg, transparent 0px, #F8F8FD 0) bottom right;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}
